@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

$title-font : 'Kalam', cursive;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

$japanese: 'Noto Serif JP', serif;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

$portfolio-link: 'Dancing Script', cursive;
