.my-skill-contents {

    @include mq() {
        display: flex;
        flex-wrap: wrap;
    }
}

.card-wrap {
    padding: 15px;

    @include mq() {
        width: 50%;
    }

    @include mq(lg) {
        width: 33.3333%;
    }
}

.my-skill-card {
    border: 1px solid #354e59;
    padding: 36px 24px;
    height: 320px;
    transition: all .4s;

    &:hover {
        transform: scale(1.05, 1.05);
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, .1);
    }

    @include mq() {
        height: 420px;
    }

    @include mq(lg) {
        height: 480px;
    }
}

.skill-head {
    text-align: center;
    margin-bottom: 36px;

    p {
        color:  #354e59;

        i {
            font-size: 70px;
            margin-bottom: 12px;

            @include mq() {
                font-size: 55px;
            }
        }
    }
}